.modal-dark {
    .modal-content {
        .modal-header {
            background: #253544 !important;

            .modal-title {
                color: #FFF;
            }
        }

        .modal-footer {
            background: #253544 !important;
            color: #FFF;
        }
    }
}