body {
    background: #111d3e;
}

#loginframe {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;

    *:focus {
        outline: 0 !important;
        box-shadow: none !important;
        border: #a30000 solid 1px !important;
    }

    .field-validation-error {
        font-family: Verdana;
        font-size: 12px;
    }

    .validation-summary-errors {
        ul{
            list-style: none !important;
            margin: 0;
            padding: 0;
            text-align: center;
            margin-top: 10px;
        }
    }

    h1 {
        color: #FFF;
    }

    #RememberMeLabel {
        color: #FFF;
    }

    #Input_Email, #Input_Password {
        background: #236ba1 !important;
        color: #FFF;
        font-family: Verdana;
        font-size: 14px;
    }

    .textboxlabel {
        color: #FFF;
        font-family: Verdana;
        font-size: 14px;
        font-weight: bold;
    }
}

.noselect {
    user-select: none;
}
