@model LoginViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout_Login";
}
@using (Html.BeginForm("Login", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="login">
        <h1>Schedule Analyzer</h1>
        @Html.TextBoxFor(m => m.Email, new { @placeholder = "E-mail", autofocus = true })
        @Html.ValidationMessageFor(m => m.Email)
        @Html.PasswordFor(m => m.Password, new {@placeholder = "Password"})
        @Html.ValidationMessageFor(m => m.Password)
        <button type="submit" class="btn btn-primary btn-block btn-large">Let me in.</button>
    </div>
}